version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./storage:/var/www/html/storage
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
      - QUEUE_CONNECTION=database
    expose:
          - "9000"
  web:
    image: nginx:alpine
    depends_on:
      - app
    volumes:
      - .:/var/www/html
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    expose:
      - "80"

  scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    command: [ "php", "/var/www/html/artisan", "schedule:work" ]
    volumes:
      - ./storage:/var/www/html/storage
    environment:
      - APP_ENV=development
