services:
  app:
    build:
      context: .
      target: app
    image: laravel-app
    container_name: laravel_app
    expose:
      - "9000"

  web:
    build:
      context: .
      target: nginx
    image: laravel-web
    container_name: laravel_web
    ports:
      - "9988:80"
    depends_on:
      - app

  scheduler:
    image: laravel-app
    container_name: laravel_scheduler
    command: php artisan schedule:work
    depends_on:
      - app
